[submodule "SimpleZNSDevice"]
	path = SimpleZNSDevice
	url = https://github.com/Krien/SimpleZNSDevice.git
	branch = io-uring
[submodule "libzbd"]
	path = libzbd
	url = https://github.com/westerndigitalcorporation/libzbd.git
[submodule "fio-with-appends"]
	path = fio-with-appends
	url = https://github.com/stonet-research/fio.git
